/*styles for game content only*/
@import '../../assets/styles/constants';

.info {
    color: white;
    max-width: 140px;
    margin: 0 20px 20px 20px;

		&.done {
			border: solid 5px red;
		}
}

.score {
	border: solid 5px $softOrange;
}

.time {
	border: solid 5px $softBlue;
	float: right;
}
